<%= render 'shared/banner' %>
<div class="container">
  <div class="d-flex flex-nowrap">
    <%= render 'shared/side-bar' %>
    <div class="c">
      <h4>Foreign Languages</h4>
      <button type="button" class="sky-btn mb-3" data-toggle="modal" data-target="#exampleModal">New Tongue</button>
      <div class="columns">
          <%= render partial: 'tongue', collection: @tongues %>
      </div>
      
      <%= form_for @tongue, url: foreignlanguages_path do |f| %>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <div class="d-flex flex-nowrap">
                  <%= f.text_field :tongue, class: "form-control mr-2", type: "text", placeholder: "Tongue name", autofocus: true %>
                  <%= f.text_field :flag, class: "form-control w-25 mr-2", type: "text", placeholder: "ISO", autofocus: false %>
                  <%= f.submit "Create", class: "sky-btn" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      
    </div>
  </div>
</div>
