<% provide(:title, @tongue.tongue) %>
<%= render 'translations/new_form' %>
<%= render "shared/banner" %>
<% image_size = 370 %>
<div class="d-flex flex-nowrap">
  <%= render "shared/side-bar" %>
  <div>
    <h4><%= @tongue.tongue %></h4>
    <button type="button" class="sky-btn" data-toggle="modal" data-target="#exampleModal">New Translation</button>
    <% @tongue.translations.each do |translation|%>
      <div class="card", style="width: <%= image_size + 2 %>px">
        <%= image_tag "MARCHING-TO-ZION.jpg", class: "card-img-top", style: "width: #{image_size}px" %>
        <div class="card-block">
          <h4 class="card-title"><%= link_to translation.title, translation_path(translation.language, translation), class: "card-link" %></h4>
        </div>
      </div>
    <% end %>
  </div>
</div>