<%= form_for @sermon, url: sermons_path, method: 'POST',  html: { class: 'directUpload', data: { 'form-data' => (@s3_direct_post.fields), 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host } } do |f| %>
  <div class="form-group">
    <label class="yellow-btn" id="directField-button">
      <%= image_tag 'UPLOAD-ICON.gif'%> <%= f.file_field :mp3, style: 'display: none;', class: "directField" %>
    </label>
    <div class="progress-master-box" style="display: none">
      <span  class="progress-text" style="position: absolute;margin-top: 9px;margin-left: 9px; font-weight: bold; font-size: 13px">Upload: </span>
      <div class="progress" style="border: 1px solid #999">
        <div class='progress-bar' style='height: 30px; border-right: 4px solid #aabcfe; background-color: #b9c9fe'></div>
      </div>
    </div>
  </div>
<% end %>
<%= form_for @sermon, url: sermons_path, method: 'POST' do |f| %>
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <%= f.label :mp3 %>
        <%= f.text_field :mp3 , class: "form-control form-control-sm", id: "mp3Key", readonly: true %>
      </div>
      <div class="form-group">
        <%= f.label :datetime %>
        <%= f.datetime_local_field :datetime, class: "form-control form-control-sm", autofocus: true  %>
      </div>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control form-control-sm", type: "text", placeholder: "Title of Sermon" %>
      </div>
      <div class="form-group">
        <%= f.label :preacher %>
        <%= f.text_field :preacher, class: "form-control form-control-sm", type: "text", placeholder: "Preacher", value: "Pastor Anderson" %>
      </div>
      <%= f.label :ytube_id, "YouTube ID" %>
      <div class="input-group input-group-sm">
        <span class="input-group-addon">www.youtube.com/watch?v=</span>
        <%= f.text_field :ytube_id, class: "form-control form-control-sm" %>
      </div>
      <br>
      <div class="form-group">
        <%= f.label :scloud, "Soundcloud URL" %>
        <%= f.text_field :scloud, class: "form-control form-control-sm", placeholder: "Soundcloud URL" %>
      </div>
      <div class="form-group">
        <%= f.label :location %>
        <%= f.text_field :location, class: "form-control form-control-sm", type: "text", placeholder: "Location", value: "Faithful Word Baptist Church" %>
      </div>
      <div class="form-group">
        <%= f.label :format %>
        <%= f.select :format, ['Preaching', 'Documentary', 'Series'], {}, class: "form-control form-control-sm" %>
      </div>
      <div class="form-check">
        <%= f.label :fire_hard do %>
          <%= f.check_box :fire_hard %>
          <%= image_tag 'fire.gif' %> Hard
        <% end %>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <%= f.label :transcript %>
        <%= f.text_area :transcript, class: "form-control form-control-sm", rows: 35 %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= f.submit "Upload", class: "sky-btn float-right" %>
    </div>
  </div>
<% end %>
<script>
  $(function() {
    var fileInput    = $('.directField');
    var form         = $(fileInput.parents('form:first'));
    var submitButton = $('input[type="submit"]');
      $('.directUpload').fileupload({
      fileInput:       fileInput,
      url:             form.data('url'),
      type:            'POST',
      autoUpload:       true,
      formData:         form.data('form-data'),
      paramName:        'file', // S3 does not like nested name fields i.e. name="user[avatar_url]"
      dataType:         'XML',  // S3 returns XML if success_action_status is set to 201
      replaceFileInput: false,
      progressall: function (e, data) {
        var progress = parseInt(data.loaded / data.total * 100, 10);
        $('.progress-bar').css('width', progress + '%');
        $('.progress-text').text("Uploading: " + progress + '%');
      },
      start: function (e) {
        submitButton.prop('disabled', true);
        $('#directField-button').hide();
        $('.progress-master-box').show();
      },
      done: function(e, data) {
        submitButton.prop('disabled', false);
        $('.progress-bar').css("border-right", "none").animate({backgroundColor: '#ffff99'}, 150).animate({backgroundColor: '#5cb85c'}, 500);
        $('.progress-text').text("Uploading Done");
  
        // extract key and generate URL from response
        var key   = $(data.jqXHR.responseXML).find("Key").text();
        var url   = '//' + form.data('host') + '/' + key;
  
        // create hidden field
        $('#mp3Key').val(url);
      },
      fail: function(e, data) {
        submitButton.prop('disabled', false);
        $('.progress-bar').css("background", "red").text("Failed");
      }
    });
  });
</script>