<% @sermons.each do |sermon| %>
  <% if next_month(sermon) %> 
  <tr class="sermon-table-month">
    <td colspan="4"><h5 class="mb-0"><%= sermon.datetime.strftime(" %B %Y") %></h5></td>
  </tr>
  <% end %>
  <tr>
    <td><%= sermon.datetime.strftime("%m/%d/%y, %a %p")%></td>
    <td><%= image_tag('new_sml_27x13.gif', style: "padding-right: 5px") if sermon.created_at >= Time.zone.now - 5.days %><%= image_tag('fire.gif', style: "padding-right: 8px") if sermon.fire_hard %><%= link_to sermon.title, sermon_path(sermon) %></td>
    <td><%= sermon.preacher %></td>
    <td>
      <div class="d-flex justify-content-between">
        <div style="width: 16px">
          <%= link_to sermon.mp3, class: "download", download: '', id: sermon.id do %>
            <%= image_tag "icons/mp3_16x16.gif"%>
          <% end %>
        </div>
        <div style="width: 16px">
          <% if !sermon.ytube_id.blank? %>
            <%= link_to "https://www.youtube.com/watch?v=#{sermon.ytube_id}" do %>
              <%= image_tag "icons/ytube_16x16.gif"%>
            <% end %>
          <% end %>
        </div>
        <div style="width: 16px">
          <% if !sermon.scloud.blank? %>
            <%= link_to "#{sermon.scloud}" do %>
              <%= image_tag "icons/soundcloud_16x16.gif"%>
            <% end %>
          <% end %>
        </div>
      </div>
    </td>
  </tr>
<% end %>