<%= render 'shared/carousel' %>
<div class="d-flex flex-nowrap">
  <%= render "shared/side-bar" %>
  <div>
    <h3>Welcome to the website of Faithful Word Baptist Church!</h3>
    <p>Over 13 million mp3 sermons have been downloaded from this site!</p>
    <p>We are a local New Testament church reaching the Phoenix area with the Gospel of Jesus Christ. Don't expect anything contemporary or liberal. We are an
    <b>Old-Fashioned</b>,
    <b>Independent</b>,
    <b>Fundamental</b>,
    <b>King James Bible Only</b>,
    <b>Soul-Winning</b>,
    <b>Baptist</b>,
    <b>Church</b>.</p>
    <p>Faithful Word Baptist Church is a young, family-integrated church. We would love to get to know you personally at one of our services!</p>
    <p><%= image_tag 'new_sml_27x13.gif', style:"margin-right: 5px;" %>Pastor Anderson's materials have now been translated into <%= link_to "over 115 languages!", foreignlanguages_path %></p>
    <p><%= image_tag 'new_sml_27x13.gif', style:"margin-right: 5px;" %>Check out Pastor Anderson's new documentary "Burn That Way After All:"</p>
    <div align="center">
      <%= ytube_embed("fSqU7qqu6eM", 580, 322) %>
    </div>
    <blockquote class="verse">
      <p class="mb-0">“Holding fast the faithful word as he hath been taught, that he may be able by sound doctrine both to exhort and to convince the gainsayers.”</p>
      <p>Titus 1:9</p>
    </blockquote>
  </div>
</div>