<div class="bar">
  <div class="bar-side">
    <%= link_to "Preaching", preaching_path, class: "top-btn" %>
  </div>
  <div class="bar-side">
    <%= link_to "Soul Winning", soulwinning_path, class: "top-btn" %>
  </div>
  <div class="bar-side">
    <%= link_to "Our Pastor", ourpastor_path, class: "top-btn" %>
  </div>
  <div class="bar-side">
    <%= link_to "Service Times", service_path, class: "top-btn" %>
  </div>
  <div class="bar-side">
    <%= link_to "Location", location_path, class: "top-btn" %>
  </div>
  <div class="bar-side">
    <%= link_to "Bible Memory", biblememory_path, class: "top-btn" %>
  </div>
  <div class="bar-side">
    <%= link_to "Events", events_path, class: "top-btn" %>
  </div>
</div>