<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'application/favicon' %>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <%= render 'layouts/top_banner' %>
    <div class="container">
      <%= render 'layouts/navigation' %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
