<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <title><%= yield(:title) %> | Faithful Word Baptist Church - Tempe, AZ</title>
    <%= stylesheet_link_tag    'application' %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-toggleable-xl navbar-light">
        <%= link_to root_path, class: "shadow navbar-brand mr-auto" do %>
          <%= image_tag "FWBC-LOGO-OFFICIAL.svg", height: '61',class: "d-inline-block align-top", alt: "Faithful Word Baptist Church" %>
        <% end %>
        
        <ul class="nav navbar-nav ">
          <li class="nav-item">
            <%= link_to "Preaching", preaching_path, class: "btn btn-outline-primary text-uppercase" %>
          </li>
          <li class="nav-item">
            <%= link_to "Soul Winning", pages_soulwinning_path, class: "btn btn-outline-primary text-uppercase" %>
          </li>
          <li class="nav-item">
            <%= link_to "Our Pastor", controller: "pages", action: "ourpastor", class: "btn btn-outline-primary text-uppercase" %>
          </li>
          <li class="nav-item">
            <%= link_to "Service", controller: "pages", action: "service", class: "btn btn-outline-primary text-uppercase" %>
          </li>
          <li class="nav-item">
            <%= link_to "Location", controller: "pages", action: "location", class: "btn btn-outline-primary text-uppercase" %>
          </li>"
          <li class="nav-item">
            <%= link_to "Bible Memory", controller: "pages", action: "biblememory", class: "btn btn-outline-primary text-uppercase" %>
          </li>
          <li class="nav-item">
            <%= link_to "Events", controller: "pages", action: "events", class: "btn btn-outline-primary text-uppercase" %>
          </li>
        </ul>
      </nav>
    </div>
    <%= yield %>
    <footer>
      <div class="container">
        <hr>
        <div class="row">
          <div class="col">
            <p>Faithful Word Baptist Church 2017<br><%= link_to "Privacy Policy", privacypolicy_path %> / <%= link_to "Terms and Conditions", termsandconditions_path %></p>
          </div>
          <div class="col">
            <p class="text-right">Phone: (602) 456-1049<br>E-mail: <%= mail_to "faithfulword1@gmail.com" %></p>
          </div>
        </div>
      </div>
    </footer>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
