<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'application/favicon' %>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body style='overflow: hidden'>
    <%= yield %>
  </body>
  <%= render 'shared/alerts' %>
</html>